body{
    margin: 0;
    height: 100vh;
    width: 100%;
    background-image:url(image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.link-container{
    display: flex;
    gap: 3vw;
}