html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #f7f6ff;
}

.grid-bg {
  position: fixed;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 20px);
  grid-auto-rows: 20px;
  z-index: 0;
}

.grid-cell {
  background: #f7f6ff;
  border: 0.1px solid #7f1d2d;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 0 0 #9d9d9d;
  transition: 0.1s;
}

.grid-cell:hover {
  background: #ff3b5c;
  box-shadow: 0 5px 0 #7f1d2d;
  transform: translateY(-5px);
}

.grid-cell:active{
  box-shadow: 0 0 0 #9d9d9d;
  transform: translateY(0);
  background-color: #facc15;
}
